*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin : 10px 20px;
    font-size: 15px;
    padding : 8px;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px ;
    border-radius: 5px;
    border: 1px solid lightgray;

}

input[type = "submit"]{
    background-color: #4daea1;
    color: white;
    padding: 12px 20px;
    border: #ccc ;
    border-radius: 4px;
    cursor: pointer;
    width : 100%;
    
    
}
input[type = "submit"]:hover
{
    color: white;
    background-color: hotpink;
    
}

h1{
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],slect,textarea{
    width: 100%;
    padding: 12px;
    border:1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}
 fieldset{
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    width : 50%;
 }
